<div class="hero bg-base-200 min-h-screen">
  <div class="hero-content flex-col lg:flex-row-reverse lg:gap-6">
    <div class="text-center lg:text-left">
      <h1 class="text-5xl font-bold">
        <span class="text-primary">I</span>nventory
        <span class="text-primary">M</span>anagement
        <span class="text-primary">S</span>ystem
      </h1>
      <p class="py-6">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
      </p>
    </div>
    <div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl">
      <form class="card-body">
        <div class="form-control mt-6">
          <a href="/login" class="btn btn-primary">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="1em"
              height="1em"
              viewBox="0 0 24 24"
              class="h-6 w-6"
            >
              <path
                fill="currentColor"
                d="M12 21v-2h7V5h-7V3h7q.825 0 1.413.588T21 5v14q0 .825-.587 1.413T19 21zm-2-4l-1.375-1.45l2.55-2.55H3v-2h8.175l-2.55-2.55L10 7l5 5z"
              />
            </svg>
            <span>Login</span>
          </a>
        </div>
        <div class="form-control mt-3">
          <a href="/signup" class="btn btn-primary">Signup</a>
        </div>
      </form>
    </div>
  </div>
</div>
