<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/output.css" />
    <title>Inventory Management System</title>
  </head>
  <body>
    <div class="hero bg-base-200 min-h-screen">
      <div class="hero-content flex-col lg:flex-row-reverse lg:gap-6">
        <div class="text-center lg:text-left">
          <h1 class="text-5xl font-bold">
            <span class="text-primary">I</span>nventory
            <span class="text-primary">M</span>anagement
            <span class="text-primary">S</span>ystem
          </h1>
          <p class="py-6">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
          </p>
        </div>
        <div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl">
          <form class="card-body">
            <div class="form-control mt-6">
              <a href="/login" class="btn btn-primary">Login</a>
            </div>
            <div class="form-control mt-3">
              <a href="/signup" class="btn btn-primary">Signup</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
