@tailwind base;
@tailwind components;
@tailwind utilities;

#dropzone {
  position: relative;
  transition: background-color 0.3s, border-color 0.3s;
}

#dropzone.drag-over {
  background-color: rgba(0, 123, 255, 0.1);
  border-color: #007bff;
}

.icon-wrapper svg {
  pointer-events: none; /* Allow hover events to pass through */
}
